@use "./utils/variables" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
textarea,
select {
  font: inherit;
}

body {
  height: 100vh;

  background: $background-gradient no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: antiquewhite;
}

button,
a {
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

li,
ol {
  list-style: none;
}
