@use "./utils/variables" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: $disabled-color #f0f0f0; /* ползунок / трек */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 12px; /* ширина вертикального скролла */
  height: 12px; /* высота горизонтального скролла */
}

*::-webkit-scrollbar-track {
  background: #f0f0f0; /* трек */
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: $disabled-color; /* ползунок */
  border-radius: 6px; /* закругление */
  border: 3px solid #f0f0f0; /* отступ вокруг ползунка */
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth; // плавный скролл.
  scroll-padding-top: 20px; // отступ сверху при прокрутке
}

body {
  height: 100vh;

  background: $background-gradient no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: antiquewhite;
}

button {
  font: inherit;
  cursor: pointer;
}
a {
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

li,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $main-text-color;
}

p {
  color: $text-color;
}
