@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #a19e9e transparent;
}

*::-webkit-scrollbar {
  width: 12px; /* ширина вертикального скролла */
  height: 12px; /* высота горизонтального скролла */
}

*::-webkit-scrollbar-track {
  background: #ffffff; /* трек */
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #a19e9e; /* ползунок */
  border-radius: 6px; /* закругление */
  border: 3px solid #f0f0f0; /* отступ вокруг ползунка */
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background: linear-gradient(to bottom left, #1c0c00 0%, #1c0700 31%, #140900 69%, #1c0c00 100%) no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: antiquewhite;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

li,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

p {
  color: #a3a3a3;
}

.hidden {
  display: none;
}

.instagram__icon,
.facebook__icon {
  display: inline-block;
  fill: #ff862d;
}

.container {
  max-width: 1512px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 130px;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin-bottom: 64px;
  border-bottom: 2px solid transparent;
  animation-name: header_scroll;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}
.header__inner {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  padding: 40px 20px;
  background-color: #210a01;
  text-align: center;
  pointer-events: none;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 150ms linear, opacity 50ms linear;
  z-index: 10;
}
.header__nav.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}
.header__nav.open .header__nav-close {
  display: block;
}
.header__nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3px;
  height: 100dvh;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b);
}
@media (min-width: 1024px) {
  .header__nav {
    position: static;
    width: auto;
    height: 100%;
    padding: 0;
    background-color: transparent;
    pointer-events: auto;
    transform: translateX(0);
    opacity: 1;
  }
  .header__nav::before {
    display: none;
  }
}
.header__nav-close {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  color: #a3a3a3;
  font-size: 1.5rem;
  font-weight: 700;
}
.header__nav-close svg {
  stroke: #a3a3a3;
}
.header__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
@media (min-width: 1024px) {
  .header__nav-list {
    flex-direction: row;
    gap: 40px;
  }
}
.header__nav-link {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  color: #a3a3a3;
}
.header__nav-link:hover, .header__nav-link:focus {
  background-image: linear-gradient(to bottom left, #ff612e, #ffa32b);
  background-clip: text;
  color: transparent;
}
.header__group {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b);
  border: none;
  border-radius: 50%;
}
.header__cart-btn img {
  pointer-events: none;
}
.header__menu-btn {
  background-color: transparent;
  border: none;
}
.header__menu-btn > svg {
  stroke: url("./images/icons.svg#paint0_linear_202_31");
}
@media (min-width: 1024px) {
  .header__menu-btn {
    display: none;
  }
}

@keyframes header_scroll {
  to {
    background-color: #170700;
    border-bottom: 2px solid #ff612e;
  }
}
.logo {
  font-size: 1.5rem;
  font-weight: 800;
  background-image: linear-gradient(to bottom left, #ff612e, #ffa32b);
  background-clip: text;
  color: transparent;
}

.image-with-decors {
  position: relative;
  display: inline-flex;
}
.image-with-decors::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 94px;
  height: 62px;
  background-image: url("./images/pizza-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(33%, -33%);
}
.image-with-decors::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 94px;
  height: 97px;
  background-image: url("./images/fries-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-33%, 15%);
}

.hero {
  margin-bottom: 64px;
}
.hero_inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 1024px) {
  .hero_inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-height: 510px;
  }
}
.hero__image-wrap {
  text-align: center;
}
@media (min-width: 768px) {
  .hero__image-wrap {
    height: 510px;
  }
  .hero__image-wrap picture {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .hero__image-wrap {
    flex: 1;
    text-align: right;
  }
}
.hero__image-wrap img {
  border-radius: 24px;
  object-fit: cover;
  object-position: left;
}
.hero__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px) {
  .hero__content-wrap {
    flex: 1.5;
  }
}
.hero__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
}
.hero__title-icon {
  display: inline;
  width: 34px;
  height: 60px;
  vertical-align: middle;
}
@media (min-width: 1024px) {
  .hero__title-icon {
    width: 48px;
    height: 84px;
  }
}
.hero__text {
  color: #a3a3a3;
}
.hero__text span {
  color: #ffffff;
}
.hero__actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px) {
  .hero__actions {
    flex-direction: column-reverse;
  }
}
.hero__buttons {
  display: flex;
  align-items: center;
  width: 280px;
}
.hero__btn {
  font-weight: 500;
  flex: 1;
  padding: 10px 0;
}
.hero__btn--active {
  border: none;
  border-radius: 71px;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b);
  color: #ffffff;
  z-index: 1;
}
.hero__btn--menu {
  border: 2px solid transparent;
  margin-left: -30px;
  padding: 8px 0;
  padding-left: 20px;
  border-radius: 0 71px 71px 0;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b) text, linear-gradient(#1c0a00) padding-box, linear-gradient(to bottom left, #ff612e, #ffa32b) border-box;
  color: transparent;
}

.video {
  flex: 1;
}
.video__text {
  margin-bottom: 8px;
  color: #ffffff;
}
.video__wrap {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}
.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(#1d0800) padding-box, linear-gradient(to bottom left, #ff612e, #ffa32b) border-box;
}
.video__play-btn > img {
  margin: 0 auto;
  pointer-events: none;
}

.pizza-card {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  perspective: 2000px;
}
.pizza-card__wrap {
  height: 100%;
  padding: 0 20px 20px;
  transition: transform 250ms linear;
  border-radius: 8px;
  background-color: #210a01;
}
.pizza-card__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 240px;
  margin: 0 auto;
  transition: transform 250ms linear;
}
.pizza-card__image-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
}
.pizza-card__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.pizza-card__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  flex: 1;
  margin-bottom: 16px;
  /* Отступ сверху зависит от размера изображения.
   Картинка занимает 50% ширины карточки, но при этом сдвинута вверх на половину своей высоты.
   Из-за этого видимая часть картинки внутри карточки равна примерно 25% ширины родителя.
   Чтобы контент не залезал под картинку, я рассчитываю padding:
  (((ширина картинки + padding-left(родителя) / 2) + место для отствупа между картинкой и контентом) 
    Таким образом заголовок всегда располагается ниже изображения с учётом его динамического размера. */
  text-align: center;
}
.pizza-card__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  font-size: 0.5em;
  margin-bottom: 20px;
}
.pizza-card__actions {
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
}
.pizza-card__actions:has(.pizza-card__ingredients-btn-wrap) .pizza-card__ingredients-btn-wrap {
  margin-bottom: 16px;
}
.pizza-card__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pizza-card__ingredients-btn-wrap {
  position: relative;
  display: block;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b) border-box;
}
.pizza-card__ingredients-btn-wrap:after {
  content: "";
  display: block;
  position: absolute;
  inset: 2px;
  background: linear-gradient(to bottom left, #1c0c00 0%, #1c0700 31%, #140900 69%, #1c0c00 100%) padding-box;
  border: inherit;
  border-radius: inherit;
  z-index: 50;
  pointer-events: none;
}
.pizza-card__ingredients-btn-wrap button {
  position: relative;
  width: 100%;
  padding: 6px 0;
  margin: 0 auto;
  border: none;
  border-radius: inherit;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b) text;
  color: transparent;
  font-size: 12px;
  z-index: 100;
}
.pizza-card__back-btn-submit {
  margin-bottom: 0;
}
.pizza-card__price-wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .pizza-card__price-wrap {
    flex-direction: row;
  }
}
.pizza-card__order-btn {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 71px;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b);
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}
.pizza-card__options-radio {
  display: none;
}
.pizza-card__options label {
  padding: 4px;
  border: 1px solid #a3a3a3;
  border-radius: 50%;
  background-color: transparent;
  font-size: 12px;
  color: #a3a3a3;
  cursor: pointer;
}
.pizza-card__options label:has(input:checked) {
  border: 1px solid transparent;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b) border-box;
  color: #ffffff;
}
.pizza-card__front, .pizza-card__back {
  display: flex;
  flex-direction: column;
  flex: 1;
  backface-visibility: hidden;
  transition: transform 250ms linear;
  padding-top: calc(25% + 20px);
  /* Отступ сверху зависит от размера изображения.
   Картинка занимает 50% ширины карточки, но при этом сдвинута вверх на половину своей высоты.
   Из-за этого видимая часть картинки внутри карточки равна примерно 25% ширины родителя.
   Чтобы контент не залезал под картинку, я рассчитываю padding:
  (((ширина картинки + padding-left(родителя) / 2) + место для отствупа между картинкой и контентом) 
    Таким образом заголовок всегда располагается ниже изображения с учётом его динамического размера. */
  overflow: hidden;
}
.pizza-card__back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  color: #ffffff;
}
.pizza-card__title-back {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 16px;
}
.pizza-card__ingredients-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: inherit;
  overflow: hidden;
}
.pizza-card__ingredients-form .pizza-card__ingredients-btn-wrap {
  margin-bottom: 6px;
}
.pizza-card__form-items-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: inherit;
  overflow-y: auto;
  overscroll-behavior: none;
}
.pizza-card__form-item-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pizza-card__form-item-wrap label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  flex: 1;
  margin-left: 4px;
  font-size: 0.75em;
  overflow: hidden;
}
.pizza-card--fliped .pizza-card__wrap {
  transform: rotateY(180deg);
}
.pizza-card--fliped .pizza-card__inner {
  transform: rotateY(-180deg);
}
.pizza-card--fliped .pizza-card__back {
  transform: rotateY(359deg);
}
.pizza-card--fliped .pizza-card__front {
  transform: rotateY(180deg);
}

.menu {
  margin-bottom: 64px;
}
.menu__title {
  margin-bottom: 16px;
  font-size: 2.5rem;
  text-align: center;
}
.menu__most-popular-wrap {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .menu__most-popular-wrap {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.menu__most-popular-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .menu__most-popular-text {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .menu__most-popular-text {
    font-size: 2.5rem;
  }
}
.menu .swiper-container::part(container) {
  padding-top: 60px;
}

.swiper-container__controllers {
  display: none;
  padding: 16px 0;
}
.swiper-container__controllers > button {
  border: none;
  background: transparent;
  fill: #ffffff;
}
.swiper-container__controllers > button:disabled {
  cursor: not-allowed;
  fill: #a19e9e;
}
.swiper-container__controllers--visible {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.swiper-container .swiper-slide {
  display: flex;
  justify-content: center;
  height: inherit;
}
.swiper-container {
  z-index: 0;
}

.price {
  display: inline-block;
  color: #ffffff;
}
.price__value {
  font-variant-numeric: tabular-nums;
}

.counter {
  display: inline-flex;
  gap: 8px;
  color: #ffffff;
}
.counter__value {
  background-color: transparent;
  width: 40px;
  border: none;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  outline: none;
  color: #ffffff;
  text-align: center;
}
.counter__decrement, .counter__increment {
  width: 20px;
  height: 20px;
  border: 1px solid #a3a3a3;
  border-radius: 50%;
  background-color: transparent;
  font-size: 12px;
  color: #a3a3a3;
}
.counter__decrement:active, .counter__increment:active {
  border: 1px solid transparent;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b) border-box;
  color: #ffffff;
}
.counter input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.counter input[type=number]::-webkit-inner-spin-button,
.counter input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.events {
  margin-bottom: 64px;
}
.events__text-wrap {
  grid-column: 5/span 2;
  margin: auto 0;
}
.events__title {
  margin-bottom: 16px;
  font-size: 2.5rem;
  text-align: center;
}
.events__desc {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .events__inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
  }
  .events__title {
    text-align: left;
  }
  .events__desc {
    margin-bottom: 8px;
  }
  .events .swiper-container,
  .events .swiper-container::part(container),
  .events .swiper-container::part(wrapper) {
    display: contents;
  }
  .events .swiper-slide {
    grid-column: span 2;
    width: auto !important;
  }
  .events .swiper-slide--first {
    grid-row: 1;
    grid-column: 1/span 2;
  }
  .events .swiper-slide--second {
    grid-row: 1;
    grid-column: 3/span 2;
  }
  .events .swiper-slide--middle {
    grid-column: span 3;
  }
  .events .swiper-container__controllers--visible {
    display: none;
  }
}

.event {
  position: relative;
  color: #ffffff;
}
.event__text {
  position: absolute;
  top: 20%;
  left: 25px;
  color: inherit;
  font-weight: 700;
}
.event__link {
  position: absolute;
  bottom: 20%;
  left: 25px;
  padding: 6px 50px;
  border-radius: 20px;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b);
  color: inherit;
}
.event picture {
  height: 100%;
  width: 100%;
}
.event img {
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 20px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.modal {
  opacity: 0;
  transition: opacity 200ms linear;
}
.modal__backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50%, 450px);
  min-height: 200px;
  max-height: calc(100% - 40px);
  background: #210a01;
  border-radius: 8px;
}
.modal__content::after, .modal__content::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: inherit;
  background-image: conic-gradient(from var(--angle), #ffa32b 0% 25%, transparent 25% 50%, #ff612e 50% 75%, transparent 75% 100%);
  z-index: -1;
  animation: 8s spin linear infinite;
}
.modal__content::before {
  filter: blur(1rem);
  opacity: 0.6;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #a3a3a3;
}
.modal__title {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}
.modal__inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px;
}
.modal__close {
  background-color: transparent;
  border: none;
  color: #a3a3a3;
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__close svg {
  pointer-events: none;
  stroke: #a3a3a3;
}

.modal__show {
  opacity: 1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.cart {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  overflow: hidden;
}
.cart__list-title {
  margin: auto auto;
  padding: 16px;
  font-size: 1.375rem;
  font-weight: 500;
  color: #a3a3a3;
}
.cart__empty-text {
  display: block;
  margin: auto auto;
  padding: 16px;
  font-size: 1.375rem;
  font-weight: 500;
  color: #a3a3a3;
}
.cart__list {
  display: none;
  overflow-y: auto;
}
.cart__list:has(li) {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.cart:has(.cart__list li) .cart__empty-text {
  display: none;
}
.cart__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.05);
}
.cart__price-wrap {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 6px;
  margin-right: 12px;
}
.cart__title-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
  gap: 8px;
  color: #ffffff;
}
.cart__item-image {
  width: 50px;
  aspect-ratio: 1/1;
}
.cart__item-title {
  color: inherit;
}
.cart__pizza-size {
  font-size: 0.75rem;
  color: inherit;
}
.cart .price__value {
  display: inline-block;
  text-align: right;
}
.cart .counter {
  gap: 4px;
}
.cart__action-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.cart__to-checkout-link {
  position: relative;
  display: block;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b) border-box;
}
.cart__to-checkout-link:after {
  content: "";
  display: block;
  position: absolute;
  inset: 2px;
  background: linear-gradient(to bottom left, #1c0c00 0%, #1c0700 31%, #140900 69%, #1c0c00 100%) padding-box;
  border: inherit;
  border-radius: inherit;
  z-index: 50;
}
.cart__to-checkout-link button, .cart__to-checkout-link a {
  display: inline-block;
  position: relative;
  width: 100%;
  border: none;
  border-radius: inherit;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b) text;
  color: transparent;
  font-size: 12px;
  z-index: 100;
}
.cart__to-checkout-link a {
  padding: 6px 32px;
}
.cart__to-checkout-link[data-disabled=true] {
  cursor: not-allowed;
}
.cart__to-checkout-link[data-disabled=true] a {
  pointer-events: none;
}
.cart__item-remove {
  border: none;
  background-color: transparent;
}
.cart__item-remove svg {
  pointer-events: none;
  stroke: #ffffff;
}
.cart__item-remove:hover svg {
  transform: scale(1.1);
  stroke: #ff612e;
}

.checkout {
  background: linear-gradient(to bottom left, #1c0c00 0%, #1c0700 31%, #140900 69%, #1c0c00 100%);
}
.checkout__title {
  text-align: center;
  margin-bottom: 32px;
  color: #ffffff;
}
.checkout__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (min-width: 1024px) {
  .checkout__inner {
    flex-direction: row;
    align-items: stretch;
  }
}
.checkout__product-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  max-width: 500px;
  padding: 8px;
  background: #210a01;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .checkout__product-wrap {
    padding: 32px;
  }
}
.checkout__price-wrap {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.checkout__price-wrap p,
.checkout__price-wrap span {
  color: #ffffff;
}
.checkout__form {
  width: 100%;
  max-width: 500px;
  padding: 32px;
  background: #210a01;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  flex: 1;
}
.checkout__form-group {
  margin-bottom: 16px;
}
.checkout__label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #ffffff;
}
.checkout__input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #a19e9e;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}
.checkout__input:focus {
  outline: none;
  border-color: #ff612e;
}
.checkout__input::placeholder {
  color: #a3a3a3;
}
.checkout__submit {
  display: block;
  width: 100%;
  padding: 16px;
  margin-top: 32px;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.checkout__submit:hover {
  opacity: 0.9;
}
.checkout__submit:disabled {
  background: #a19e9e;
}
.checkout__empty-text {
  display: block;
  margin: auto auto;
  padding: 16px;
  font-size: 1.375rem;
  font-weight: 500;
  color: #a3a3a3;
}
.checkout .products-list {
  display: none;
}
.checkout .products-list:has(li) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  max-height: 330px;
  overflow-y: auto;
}
.checkout .products-list:has(li) .cart__list-item {
  background-color: rgba(255, 255, 255, 0.05);
}
.checkout .products-list:has(li) .cart__title-wrap {
  color: #ffffff;
}
.checkout .products-list:has(li) .cart__item-remove svg {
  stroke: #ffffff;
}
.checkout .products-list:has(li) .cart__item-remove:hover svg {
  stroke: #ff612e;
}
.checkout:has(.products-list li) .checkout__empty-text {
  display: none;
}

.about-us {
  margin-bottom: 64px;
}
.about-us .container {
  display: flex;
  flex-direction: column-reverse;
  gap: 64px;
}
@media (min-width: 1024px) {
  .about-us .container {
    flex-direction: row;
  }
}
.about-us__title {
  margin-bottom: 16px;
  font-size: 2.5rem;
  text-align: center;
}
.about-us .text-wrap {
  flex: 1;
  align-self: center;
}
.about-us .decor-image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.about-us .decor-image-wrap .image-with-decors {
  height: 100%;
}
.about-us .decor-image-wrap .image-with-decors img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .about-us .decor-image-wrap {
    justify-content: flex-end;
  }
}
.about-us .images-wrap {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 32px 0;
}
.about-us .images-wrap > div {
  position: relative;
  flex: 1;
  aspect-ratio: 1/1;
}
.about-us .images-wrap img {
  object-fit: cover;
  object-position: left;
  width: 100%;
}
.about-us .images-wrap__image--first {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 100;
  transform: translateX(calc(8px + 50%));
}
.about-us .images-wrap__image--second {
  position: absolute;
  top: -15px;
  right: 0;
  transform: translateX(calc(-50% - 8px));
  z-index: 100;
}

.footer {
  background: #170700;
  padding: 50px 0;
}
.footer__tel-link {
  font-size: 1.2rem;
  background: linear-gradient(to bottom left, #ff612e, #ffa32b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .logo {
  display: inline-block;
  align-self: center;
}
.footer .contacts-wrap {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.footer .icons-wrap {
  display: flex;
  gap: 16px;
}

.notify {
  position: fixed;
  bottom: 5%;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms linear;
  display: flex;
  width: 300px;
  min-height: 100px;
  border-radius: 4px;
  z-index: 1000;
}
.notify__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 8px;
  border-radius: inherit;
  background: linear-gradient(to bottom left, #1c0c00 0%, #1c0700 31%, #140900 69%, #1c0c00 100%);
  border-top: 2px solid orange;
  border-left: 2px solid orange;
  border-bottom: 2px solid orange;
  color: #ffffff;
}
.notify__content::after, .notify__content::before {
  content: "";
  display: block;
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  z-index: -1;
}
.notify__close {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-33%, -33%);
  border-radius: 50%;
  border: none;
  background: linear-gradient(to bottom left, #1c0c00 0%, #1c0700 31%, #140900 69%, #1c0c00 100%);
  color: #a3a3a3;
}
.notify__close svg {
  stroke: #ffffff;
  pointer-events: none;
}
.notify--show {
  transform: translateX(0);
}
.notify--show .notify__close {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
