@use "./variables" as *;

@mixin media-768 {
  @media (min-width: $tablet-bp) {
    @content;
  }
}

@mixin media-1024 {
  @media (min-width: $desktop-bp) {
    @content;
  }
}

@mixin gradientButton($main-gradient, $background-gradient) {
  position: relative;
  display: block;
  border: none;
  border-radius: 20px;
  background: $main-gradient border-box;

  &:after {
    content: "";
    display: block;
    position: absolute;
    inset: 2px;
    background: $background-gradient padding-box;
    border: inherit;
    border-radius: inherit;
    z-index: 50;
  }

  & button,
  & a {
    display: inline-block;
    position: relative;
    width: 100%;

    border: none;
    border-radius: inherit;
    background: $main-gradient text;

    color: transparent;
    font-size: 12px;

    z-index: 100;
  }
}

@mixin title($title-size: "h1") {
  @if $title-size == "h1" {
    margin-bottom: $spacing-element;
    font-size: 2.5rem;
    text-align: center;
  }
}
