// Color vars:
$disabled-color: #a19e9e;
$text-color: #a3a3a3;
$main-text-color: #ffffff;
$main-gradient: linear-gradient(to bottom left, #ff612e, #ffa32b);
$background-gradient: linear-gradient(
  to bottom left,
  #1c0c00 0%,
  #1c0700 31%,
  #140900 69%,
  #1c0c00 100%
);
$footer-bg: #170700;
$header-bg: #170700;
$pizza-card-bg: #210a01;
$hover-color: #ff612e;

// Responsive breakpoints:
$tablet-bp: 768px;
$desktop-bp: 1024px;

// border-radius vars:
$small-border-radius: 8px;
$medium-border-radius: 16px;
$large-border-radius: 24px;

// border colors
$header-bottom: #ff612e;

// spacing vars
$spacing-section: 64px; // отступы между секциями
$spacing-block: 32px; // отступы между блоками
$spacing-element: 16px; // отступы между элементами внутри блока
$spacing-small: 8px;

// hero
$hero-max-height: 510px;
