$text-color: #a3a3a3;
$main-text-color: #ffffff;

$main-gradient: linear-gradient(to bottom left, #ff612e, #ffa32b);
$background-gradient: linear-gradient(
  to bottom left,
  #1c0c00 0%,
  #1c0700 31%,
  #140900 69%,
  #1c0c00 100%
);
$desktop-bp: 1024px;
