@use "../utils/utils" as *;

.about-us {
  & .container {
    display: flex;
    flex-direction: column-reverse;
    gap: $spacing-section;
    @include media-1024 {
      flex-direction: row;
    }
  }
  &__title {
    @include title;
  }

  & .text-wrap {
    flex: 1;
    align-self: center;
  }
  & .decor-image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    .image-with-decors {
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    @include media-1024 {
      justify-content: flex-end;
    }
  }

  & .images-wrap {
    display: flex;
    justify-content: space-between;
    gap: $spacing-element;
    margin: $spacing-block 0;

    & > div {
      position: relative;
      flex: 1;
      aspect-ratio: 1/1;
    }

    & img {
      object-fit: cover;
      object-position: left;
      width: 100%;
    }

    &__image--first {
      position: absolute;
      top: -15px;
      left: 0;
      z-index: 100;
      transform: translateX(calc($spacing-element / 2 + 50%));
    }
    &__image--second {
      position: absolute;
      top: -15px;
      right: 0;
      transform: translateX(calc(-50% - ($spacing-element / 2)));
      z-index: 100;
    }
  }
}
