@use "../utils/utils" as *;

.cart {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: $spacing-small;
  &__list-title {
    margin: auto auto;
    padding: $spacing-element;

    font-size: 1.375rem;
    font-weight: 500;
    color: $text-color;
  }

  &__list {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: calc($spacing-small / 2);
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;

    background-color: #f2f2f2;
  }
  &__price-wrap {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 6px;

    margin-right: 12px;
  }

  &__title-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
    gap: $spacing-small;
    color: #000000;
  }

  &__item-image {
    width: 50px;
    aspect-ratio: 1 / 1;
  }

  &__item-title {
    color: inherit;
  }
  &__pizza-size {
    font-size: 0.75rem;

    color: inherit;
  }

  .price {
    color: #000000;
  }

  .price__value {
    display: inline-block;

    text-align: right;
  }

  .counter {
    gap: 4px;
  }
  .counter__value {
    color: #000000;

    border: {
      left: 1px solid #000000;
      right: 1px solid #000000;
    }
  }

  &__action-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $spacing-element;
  }
  &__to-checkout-link {
    @include gradientButton($main-gradient, $background-gradient);

    a {
      padding: 6px 32px;
    }

    &[data-disabled="true"] {
      cursor: not-allowed;
      a {
        pointer-events: none;
      }
    }
  }
  &__item-remove {
    border: none;
    background-color: transparent;

    svg {
      pointer-events: none;
      stroke: #000000;
    }

    &:hover {
      svg {
        transform: scale(1.1);
        stroke: $hover-color;
      }
    }
  }
}
