@use "../utils/variables" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin-bottom: $spacing-section;
  border-bottom: 2px solid transparent;

  animation-name: header_scroll;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  &__inner {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 0;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;

    width: 320px; //The mobile version of the menu can be max 320px width.
    height: 100vh; //The mobile version of the menu must be full height of viewport

    padding: 40px 20px;

    background-color: $pizza-card-bg;
    text-align: center;
    pointer-events: none;

    transform: translateX(100%);
    opacity: 0;
    transition: transform 150ms linear, opacity 50ms linear;
    z-index: 10;

    &.open {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
    }

    &.open .header__nav-close {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 3px;
      height: 100dvh;

      background: $main-gradient;
    }
    @media (min-width: 1024px) {
      position: static;

      width: auto;
      height: 100%;

      padding: 0;

      background-color: transparent;
      pointer-events: auto;

      transform: translateX(0);
      opacity: 1;

      &::before {
        display: none;
      }
    }
  }
  &__nav-close {
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;

    background-color: transparent;
    border: none;

    color: $text-color;
    font-size: 1.5rem;
    font-weight: 700;
    svg {
      stroke: $text-color;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__nav-link {
    display: inline-block;
    width: 100%;
    padding: 8px 0;

    color: #a3a3a3;

    &:hover,
    &:focus {
      background-image: $main-gradient;
      background-clip: text;
      color: transparent;
    }
  }

  &__group {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 40px;
    height: 40px;

    background: $main-gradient;
    border: none;
    border-radius: 50%;

    img {
      pointer-events: none;
    }
  }

  &__menu-btn {
    background-color: transparent;

    border: none;
    & > svg {
      stroke: url("./images/icons.svg#paint0_linear_202_31");
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

@keyframes header_scroll {
  to {
    background-color: $header-bg;
    border-bottom: 2px solid $header-bottom;
  }
}
