@use "../utils/variables" as *;
@use "../utils/mixins.scss" as *;
@use "./imageWithDecors";

.hero {
  margin-bottom: $spacing-section;
  &_inner {
    display: flex;
    flex-direction: column;
    gap: $spacing-block;

    @include media-1024 {
      flex-direction: row-reverse;
      justify-content: space-between;
      max-height: $hero-max-height;
    }
  }

  &__image-wrap {
    text-align: center;

    @include media-768 {
      height: $hero-max-height;
      & picture {
        height: 100%;
      }
    }

    @include media-1024 {
      flex: 1;
      text-align: right;
    }
    & img {
      border-radius: $large-border-radius;
      object-fit: cover;
      object-position: left;
    }
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    gap: $spacing-element;
    @include media-1024 {
      flex: 1.5;
    }
  }

  &__title {
    color: $main-text-color;
    font-weight: bold;
    font-size: 3rem;
  }

  &__title-icon {
    display: inline;
    width: 34px; // icon's width size beetween text. Mobile version
    height: 60px; // icon's heigth size beetween text. Mobile version

    vertical-align: middle;

    @include media-1024 {
      width: 48px; // icon's width size beetween text
      height: 84px; // icon's heigth size beetween text
    }
  }

  &__text {
    color: $text-color;

    span {
      color: $main-text-color;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: $spacing-element;

    @include media-1024 {
      flex-direction: column-reverse;
    }
  }

  // HERO BUTTONS
  &__buttons {
    display: flex;
    align-items: center;
    width: 280px;
  }

  &__btn {
    font-weight: 500;
    flex: 1;
    padding: 10px 0;
  }

  &__btn--active {
    border: none;
    border-radius: 71px;
    background: $main-gradient;

    color: $main-text-color;
    z-index: 1;
  }
  &__btn--menu {
    border: 2px solid transparent;
    margin-left: -30px;
    padding: 8px 0;
    padding-left: 20px;

    border-radius: 0 71px 71px 0;

    background: $main-gradient text, linear-gradient(#1c0a00) padding-box,
      $main-gradient border-box;

    color: transparent;
  }
}
