.image-with-decors {
  position: relative;
  display: inline-flex;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 94px;
    height: 62px;

    background: {
      image: url("../../images/pizza-3.png");
      size: contain;
      repeat: no-repeat;
      position: center;
    }
    transform: translate(33%, -33%);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 94px;
    height: 97px;

    background: {
      image: url("../../images/fries-3.png");
      size: cover;
      repeat: no-repeat;
      position: center;
    }
    transform: translate(-33%, 15%);
  }
}
