@use "../utils/utils.scss" as *;

.menu {
  margin-bottom: $spacing-section;

  &__title {
    @include title;
  }

  &__most-popular-wrap {
    position: relative;
    margin: {
      top: $spacing-element;
      bottom: $spacing-element;
    }

    @include media-768 {
      margin: {
        top: $spacing-block;
        bottom: $spacing-block;
      }
    }
  }

  &__most-popular-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

    color: $main-text-color;
    font-size: 1.5rem;
    text-align: center;

    @include media-768 {
      font-size: 2rem;
    }

    @include media-1024 {
      font-size: 2.5rem;
    }
  }

  // SWIPER
  & .swiper-container::part(container) {
    padding-top: 60px;
  }
}
