@use "../utils/utils" as *;

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.modal {
  opacity: 0;
  transition: opacity 200ms linear;

  &__backdrop {
    position: fixed;

    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  &__content {
    position: relative;
    width: clamp(300px, 400px, 80%);
    height: clamp(100px, 200px, calc(100% - 60px));

    background-color: #ffffff;
    border-radius: $small-border-radius;

    &::after,
    &::before {
      content: "";
      position: absolute;
      inset: -3px;

      border-radius: inherit;
      background-image: conic-gradient(
        from var(--angle),
        #ffa32b 0% 25%,
        transparent 25% 50%,
        #ff612e 50% 75%,
        transparent 75% 100%
      );

      z-index: -1;
      animation: 8s spin linear infinite;
    }

    &::before {
      filter: blur(1rem);
      opacity: 0.6;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px;

    border-bottom: 1px solid $text-color;
  }

  &__title {
    font-size: 1.5rem;

    color: $text-color;
  }

  &__inner {
    padding: 8px;
  }
  &__close {
    background-color: transparent;
    border: none;

    color: $text-color;
    font-size: 1.5rem;
    font-weight: 700;
    svg {
      pointer-events: none;
      stroke: $text-color;
    }
  }
}
.modal__show {
  opacity: 1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
