@use "../utils/utils" as *;

.notify {
  position: fixed;
  bottom: 5%;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms linear;
  display: flex;

  min-width: 300px;
  min-height: 100px;

  max-width: 320px;

  border-radius: 4px;
  z-index: 1000;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: $spacing-small;

    border-radius: inherit;
    background: $background-gradient;
    border: {
      top: 2px solid orange;
      left: 2px solid orange;
      bottom: 2px solid orange;
    }

    color: $main-text-color;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: -2px;

      border-radius: inherit;

      z-index: -1;
    }
  }

  &__close {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(-33%, -33%);

    border-radius: 50%;
    border: none;

    background: $background-gradient;
    color: $text-color;

    svg {
      stroke: #ffffff;
      pointer-events: none;
    }
  }

  &--show {
    transform: translateX(0);
    .notify__close {
      display: inline-block;
    }
  }
}
