@use "../utils/utils" as *;
.swiper-container {
  &__controllers {
    display: none;
    padding: $spacing-element 0;

    & > button {
      border: none;

      background: transparent;
      fill: $main-text-color;

      &:disabled {
        cursor: not-allowed;
        fill: $disabled-color;
      }
    }
  }

  &__controllers--visible {
    display: flex;
    justify-content: center;
    gap: $spacing-element;
  }
  & .swiper-slide {
    display: flex;
    justify-content: center;
    height: inherit;
  }
  z-index: 0;
}
